* {
    color: #dedede;
    font-family: "Ubuntu Light";
}

QMainWindow {
    background: #080808;
}

QTabWidget::pane {
    background: #222;
    border: 1px solid #888;
    top: -1px;
}
QTabBar::tab:selected {
    margin-bottom: -3px;
    padding: 5px 10px;
    border: 1px solid #888;
    background: #222;
    border-bottom: 1px solid #222; /* same as tab bg color */
}
QTabBar::tab:!selected {
    margin-top: 3px;
    padding: 5px 10px;
    background: #444;
    bottom: 1px; /* make non-selected tabs look smaller */
}

QGroupBox {
    border: 1px solid #888;
    background: #080808;
}


QMainWindow QPushButton {
    border: 1px solid #888;
    min-height: 40px;
    min-width: 100px;
}
QDialog QPushButton {
    border: 1px solid #888;
    min-height: 22px;
    min-width: 70px;
}

QAbstractButton, 
QSpinBox,
QTextEdit,
QLineEdit
{
    background: #333;
}


QTextEdit,
QLineEdit 
{
    border: 1px solid #444;
}


QComboBox {
    background: #363636;
}
QComboBox QAbstractItemView {
    background: #1c1c1c;
}


QAbstractItemView {
    background: #222;
    border: 1px solid #888;
}
QAbstractItemView::item {
    background: #333;
    border: 1px solid #555;
}
QAbstractItemView::item:hover {
    background: #444;
}
QAbstractItemView::item:selected {
    background: #555;
    border: 1px solid #888;
}


QAbstractButton:hover {
    background: #444;
}
QAbstractButton:pressed {
    background: #555;
}


QScrollBar {
    background: #222;
}
QScrollBar:horizontal {
    padding: 0px 15px;
}
QScrollBar:vertical {
    padding: 15px 0px;
}
QScrollBar::handle {
    background: #555;
}


QAbstractScrollArea::corner {
    background: #222;
}


QMenu {
    background: #222;
    border: 1px solid #aaa;
}
QMenu::item {
    min-width: 100px;
    min-height: 10px;
    padding: 5px 10px;
    background: #333;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
}
QMenu::item:selected {
    background: #555;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}


QDialog {
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    background: #222;
    
    min-width: 300px;
}
QDialog QAbstractItemView {
    background: #181818;
    border: 1px solid #555;
}
QDialog QAbstractItemView > QAbstractItemView {
    background: #181818;
    border-top: none;
    border-left: none;
    border-right: none;
}
QDialog QAbstractItemView::item {
    background: #333;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
}
QDialog QAbstractItemView::item:hover {
    background: #444;
}
QDialog QAbstractItemView::item:selected {
    background: #555;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
}
